@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <img src='~/Images/PANINI logo.jpg' width="200px" height="180px" alt="imgf" />
    <h2 class="display-3">UEFA Champions League</h2>
    <p class="lead">Podrás tener un mejor control de tus stickers a través de esta página</p>
    <hr class="my-4">
    <p>Carga tu álbum con el estado actual del mismo</p>
</div>