@{
    ViewBag.Title = "Opciones UCL";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
<img src='~/Images/PANINI logo.png' width="200" height="180" alt="imgf" />
<h2>Opciones</h2>


<li>@Html.ActionLink("Equipos", "VerEquipos", "Album")</li>
<li>@Html.ActionLink("General", "VerGeneral", "Album")</li>